.login-form {
  /* margin-top: 80px; */
    padding: 200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-form label,
.login-form input,
.login-form button {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  font-size: 16px;
}

.login-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-color {
  background-color: #0e1c36;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-color:hover {
  background-color: #0a1323; 
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.error-message {
  color: #ff0000;
  text-align: center;
  margin-top: 20px;
}