.card {
  width: 100%; 
  max-width: 18rem; 
  height: 29rem; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin: 20px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd; 
}

.favorite-button {
  position: absolute;
  top: 8px;
  right: 10px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: rgb(117, 116, 116);
  z-index: 10;
}

.favorite-button.fav {
  color: red;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.card-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center; 
}

.card-text {
  margin-bottom: 5px;
  font-size: 0.9rem;
  text-align: center;
}

.card-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.card-buttons .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1; 
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
}

.card-buttons .btn-cart.add {
  background-color: green;
  color: white;
}

.card-buttons .btn-cart.remove {
  background-color: red;
  color: white;
}

.card-buttons .btn-cart .fa-shopping-cart {
  margin-right: 5px;
}

@media (max-width: 576px) {
  .card {
    height: auto; 
  }

  .card-img-top {
    height: 150px;
  }

  .card-buttons .btn {
    font-size: 0.8rem; 
    padding: 8px;
  }
}
